@import "drupal_rtl.css";
@import "modules_rtl.css";

/* culture shock: candy corn by pogy366 - Oct. 2005  */

/******* structure and layout *******/
body {
margin:10px 0 0px 10px;
padding:0px;
direction: rtl;
font-family:Arial, Helvetica, sans-serif; 
font-size: 12pt; 
color:#000000;
}

.rightcontent {
position: absolute;
right:0px;
top:125px;
width:200px;
background:#fff url(images/right_bg.gif);
border:none;
text-align:right;
}

.right_news {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12pt;
color:#818181;
margin:0 0 0 0;
padding:10px 10px 5px 5px;
width:185px;
background:#ffffff;
}

#centercontent {
background:#fff;
margin-top:10px;
margin-right: 199px;
margin-left:199px;
border:1px solid #fff;
voice-family: "\"}\"";
voice-family: inherit;
margin-right: 201px;
margin-left:201px;
padding: 0 10px;
}

html>body #centercontent {
margin-right: 201px;
margin-left:201px;
}

#leftcontent {
position: absolute;
left:10px;
top:130px;
width:200px;
background:#fff;
border:1px solid #FC9F42;
}

.left_news {
position:relative;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12pt;
color:#818181;
margin:0 0 0 0;
padding:10px 10px 5px 5px;
width:185px;
background:#ffffff;
}

#banner {
background:#fff url(images/header_bg.gif);
height:116px;
border:none;
color:#BB4F13;
padding: 0;
}

.page_title {
position:absolute;
top:55px;
right:175px;
margin:0 0 0 0;
padding:0 0 0 0;
text-decoration: none;
}

.top_links {
/* i positioned the top links absolutely within the banner area because of a problem i saw in IE when i did a float-left, and i didn't want to take the time to figure it out. Anyway, this isn't a problem until you add more links to the top nav or edit the text links. If/when you do, you'll have to adjust the position of the area by moving it left or right. 600px isthe default */
position:absolute;
top:10px;
right:600px;
margin:0 0 0 0;
padding:0 0 0 0;
}

p,h1,pre {
margin:0px 10px 10px 10px;
}

#leftcontent p {
font-size:12pt;
}

/******* right navigation *******/
#primary {
margin:10px 5px 10px 0;
padding:0 0 0 0;
}

#primary li {
list-style-type: none;
background-color: #fc9f42;
color: #daa520;
border:2px solid #fc9f42;
text-align:right;
padding:0 0 0 0;
margin-bottom:4px;
}

#primary li a {
color: #ffffff;
font-weight:bold;
text-decoration: none;
display: block;
margin: 0;
padding:0 5px 0 0;
}

#primary li a:hover {
background-color:#ea7738;
color: #F9BC80;
}

#primary li a:hover:after {
background-color:#ea7738;
color: #ffffff;
content: " \00AB \00AB"
}

/******* top navigation *******/
#topnav ul{
padding:0 0 0 0;
margin:0 0 0 5px;
white-space: nowrap;
font-size:9pt;
color:#ffffff;
float:right;
width:100%;
background:transparent;
list-style:none;
}

#topnav ul li{
display:inline;
list-style:none;
}

#topnav ul li a{
margin: 0 0 0 5px;
padding: .2em 1em .2em 1em;
background:#FC9F42;
color: #ffffff;
font-weight:bold;
text-decoration:none;
float: right;
border:2px solid #ffffff;
}

#topnav ul li a:hover{
background:#EA7738;
color: #ffffff;
text-decoration:none;
border:2px solid #ffffff;
}

/******* fonts and colors *******/
a {
color:#699065;
text-decoration:underline;
}

a:hover {
color:#999999;
text-decoration:none;
}

.news_title {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12pt;
font-weight:bold;
color:#EA7738;
}

#news_title_blk {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14pt;
font-weight:bold;
color:#000000;
text-decoration: none;
}

#news_title_blk1 {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14pt;
font-weight:bold;
color:#000000;
text-decoration: none;
}

#commettitle {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
color:#000000;
text-decoration: none;
}

#page_title {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16pt;
font-weight:bold;
color:#ffffff;
text-transform:uppercase;
text-decoration: none;
}

div.pumpkin {
display:block;
float:right;
width:18px;
height:18px;
margin-left:2px;
margin-right: 0;
background-image:url(images/candy_corn.jpg);
background-repeat:no-repeat;
}

div.pumpkin div {display:none;}

/* commented out, as not to override style in common.css */
/*
h1 {
font-size:16px;
padding-top:10px;
}
*/

#banner h1 {
font-size:16px;
padding:10px 10px 0px 10px;
margin:0px;
}

#footer {
bottom:0;
margin:5em 0 0 0;
padding:0;
height:4em;
line-height:4em;
text-align:center;
background-color:#ffffff;
border-top:1px solid #eeeeee;
}
/******* images *******/
img {
border:none;
}

.center {
text-align:center;
}

/******* workarounds and hacks *******/
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


.block,
.node {
margin-bottom: 2em;
}

.box {
padding: 10px;
}

#footer {
line-height: 1em;
}

/* -------------------------------------------------------------------------------------- */
/* Extra */
br.clear { clear: both; }
.sticky { 
  border: 2px solid #fc9f42; 
  padding: 0.2em 0.5em;
}
#mission {
  background-color: #fc9f42;
  color: #fff;
  margin: 0.2em 0.2em 1.2em 0.2em;
  padding: 0.5em;
}
#mission a { color: #fff; }
.status { 
  border: 2px solid #6e2; 
  padding: 0.2em;
}
.error { 
  border: 2px solid #f00; 
  color: #f00;
  padding: 0.2em;
}
#footer { clear: both; }
.images { width: 85%; }

/* Comments and overrides */
/*
**
h1 was commented above, 
IE.5 specific rule in banner was commented out because it borks banner on IE 6,
primary links were separated by other links in the right sidebar, by adding id=primary in stylesheet and in page template,
fonts were enlarged a bit 7 ==> 9 - 8,9 ==> 12 - 10==> 14 - 14 ==> 16
negative value of letter spacing in page title was commented out
div containing content, now has a class content
**
*/

/* Extras */
.resizable-textarea {
    display: block;
    width: 60%;
}

/* Event */
.event-calendar td.sat,
.event-calendar td.sun {
		background-color: #fff;
}
.event-calendar td.fri,
.event-calendar th {
		background-color: #fc9f42;
		color: #ea7738;
}
.event-calendar th a { color: #ea7738; }
.event-calendar th a:hover { color: #fff; }
.event-calendar td.today,
.event-calendar td.selected {
		background-color: #ea7738;
}
.event-calendar td.days {
		color: #fff;
		border: 1px solid #fc9f42;
		border-width: 0 1px 1px 0;
		background-color: #ea7738;
}
